* {
  box-sizing: border-box;
}

.bookmarks-list-item {
  color: navy;
  border: 1px solid black;
}

ul {
  list-style-type: none; 
}

 .hidden {
  display: none;
} 

/* .js-add-bookmark-button {
  display: inline-block;
} */

/* button:hover {
cursor: pointer;
} */